<%- include('./partials/head.ejs') %>
<body>
    <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LOGISTICS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/abtus">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">LOGISTICS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clerks">FREIGHT CLERKS</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="/search" method="GET">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" value="<%= q ? q : '' %>" aria-label="Search"/>
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav> 

    <div class="slide">
        <marquee behavior="" direction="">
            <p>WELCOME TO THE ADMIN PAGE!  <span>WELCOME TO THE ADMIN PAGE!</span> </p>
        </marquee>
    </div>

    <div id="my_goods">
        <table class="table table-striped table-success table-hover">
            <tr>
                <th>WORKERS ID</th>
                <th>FIRST NAME</th>
                <th>SECOND NAME</th>
                <th>EMAIL</th>                
                <th>ROLE</th>
                <th>VIEW</th>
            </tr>

                <% mgmts.forEach((mgmt)=>{ %>
                    <tr>
                        <td><%= mgmt.adminID %></td>
                        <td><%= mgmt.firstName %></td>
                        <td><%= mgmt.secondName %></td>
                        <td><%= mgmt.email %></td>                        
                        <td><%= mgmt.role %></td>
                        <td><a href="/staff/admin/<%= mgmt._id %>">VIEW</a></td>
                    </tr>
                <% }) %>

                <% workers.forEach((worker)=>{ %>
                    <tr>
                        <td><%= worker.workerID %></td>
                        <td><%= worker.firstName %></td>
                        <td><%= worker.secondName %></td>
                        <td><%= worker.email %></td>                        
                        <td><%= worker.role %></td>
                        <td><a href="/staff/worker/<%= worker._id %>">VIEW</a></td>
                    </tr>
                <% }) %>
        </table>
    </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>