<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

     <% if (currentUser) { %>
    <p style="text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        Welcome <%= currentUser.firstName %>
    </p>
    <% } %>

   

    <div class="hero">
        <div class="your">
            <div>
                <h1 class="hero-text">Your Logistics Partner</h1>
                <p>In Every Move!</p>
            </div>            
        </div>
        
        <section class="shipment">

            <form class="track" role="search" action="/myParcel" method="GET">
                
                <label for="track">TRACK MY PARCEL:</label>
                <div id="track">
                    <input class="form-control me-2 trackInput" style="width: 70%;" type="search" name="q" placeholder="TRACKING ID" value="<%= q ? q : '' %>" aria-label="Search"/>
                    <button class="btn btn-outline-dark" type="submit">TRACK</button>
                </div>
            
            </form>

        </section>
    </div>

    <div style="margin: 3em 0;">
        <h3 style="text-decoration: underline; text-align: center;">OUR SERVICES</h3>

        <div class="services">
            <div class="card border-success service-card px-1 py-1">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3"><i class="fa-duotone fa-solid fa-truck-moving"></i> Parcel Delivery</h5>
                    <h6 class="card-subtitle text-center mb-3">Fast, secure and door-to-door delivery across the country.</h6>
                    <p class="card-text">We deliver parcels safely and on time, providing smooth, stress-free nationwide delivery from pickup to doorstep.</p>
                </div>
            </div>

            <div class="card border-success service-card px-1 py-1">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3"><i class="fa-solid fa-earth-europe"></i> International Shipping </h5>
                    <h6 class="card-subtitle text-center mb-3">Seamless global shipping with full customs support.</h6>

                    <p class="card-text">We simplify global delivery, handling everything from customs to final delivery to ensure your shipments arrive safely and on time.</p>
                </div>
            </div>

            <div class="card border-success service-card px-1 py-1">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3"><i class="bi bi-boxes"></i>  Warehousing <i class="fa-solid fa-boxes-stacked"></i> </h5>
                    <h6 class="card-subtitle text-center mb-3">Secure storage and smart inventory management solutions.</h6>

                    <p class="card-text">We offer secure storage with smart inventory tracking, ensuring accurate stock control and efficient order fulfillment.</p>
                </div>
            </div>

            <div class="card border-success service-card px-1 py-1">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3"><i class="fa-brands fa-periscope"></i> Live Tracking</h5>
                    <h6 class="card-subtitle text-center mb-3">Real-time parcel tracking powered by GPS technology.</h6>

                    <p class="card-text">Track your shipment in real time with GPS updates for full visibility and control from pickup to delivery.</p>
                </div>
            </div>
        </div>  
    </div>

    <div class="why_us">
        <div>
            <div class="chooseUs">
                <h2>Why Choose Us</h2>
                <ul>
                    <li>10,000+ Parcels Delivered Daily</li>
                    <li>99.9% On-Time Delivery</li>
                    <li>Real-Time Tracking & Support</li>
                    <li>Nationwide Coverage & Expertise</li>
                </ul>
            </div>
            <div class="chooseImg">
                <img src="/image/stock.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="howItWorks">
        <div class="container text-center">

            <h2 class="fw-bold mb-5" id="works">How It Works</h2>

            <div class="timeline d-flex justify-content-between align-items-center">

                <div class="timeline-step">
                    <div class="circle">1</div>
                    <h6 class="mt-3 fw-bold">Visit Any ABC Logistics Park</h6>
                    <p class="text-muted small">
                        Bring your parcel to any of our nearby ABC logistics parks.
                    </p>
                </div>

                <div class="line"></div>

                <div class="timeline-step">
                    <div class="circle">2</div>
                    <h6 class="mt-3 fw-bold">Parcel Creation</h6>
                    <p class="text-muted small">
                        Our staff registers your shipment and generates a tracking ID.
                    </p>
                </div>

                <div class="line"></div>

                <div class="timeline-step">
                    <div class="circle">3</div>
                    <h6 class="mt-3 fw-bold"> Track in Real-Time</h6>
                    <p class="text-muted small">
                        Monitor your parcel anytime using our tracking system
                    </p>
                </div>

                <div class="line"></div>

                <div class="timeline-step">
                    <div class="circle">4</div>
                    <h6 class="mt-3 fw-bold">Safe Delivery</h6>
                    <p class="text-muted small">
                        Your parcel is delivered securely and on schedule.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-light">
        <div class="container text-center">

            <h2 class="fw-bold mb-5">What Our Clients Say</h2>

            <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                
                <div class="carousel-inner">
                    <% if(groupedTestimonials.length > 0) { %>

                    <% groupedTestimonials.forEach((group, index) => { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>" >
                            <div class="row g-4 justify-content-center">
                                
                                <% group.forEach((testimonial) => { %>

                                    <div class="col-md-4">
                                        <div class="testimonial-box p-4 h-100">
                                            <p>" <%= testimonial.comment %> "</p>
                                            <h6 class="fw-bold mt-3">- <%= testimonial.name %></h6>
                                            <small class="text-muted"> <%= testimonial.occupation %></small>
                                        </div>
                                    </div>

                                    <div class="stars">
                                        <% for (let i = 1; i <= 5; i++) { %>
                                        <span class="star <%= i <= testimonial.rating ? 'filled' : '' %>">&#9733;</span>
                                        <% } %>
                                    </div>

                                <% }) %>

                            </div>
                        </div>
                    <% }) %>
                                        
                    <% } else { %>
                        <p> No Reviews. Be the first to share your experience! </p>
                    <% } %>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>

            </div>
        </div>
    </section>

    <section class="container my-5">
        <div class="review-box p-4">

            <h2 class="text-center mb-4">Leave A Review</h2>

            <form action="/submit-review" method="post">

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="">Name *</label>
                        <input type="text" name="name" id="" class="form-control" placeholder="Enter Your Name">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="">Occupation *</label>
                        <select name="occupation" id="">
                            <option value="" class="disabled">Select</option>
                            <option value="Student">Student</option>
                            <option value="Unemployed">Unemployed</option>
                            <option value="Self-Employed">Self-Employed</option>
                            <option value="Employed">Employed</option>
                        </select>                            
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="">Rating *</label>

                        <div class="rating">
                            <input type="radio" name="rating" value="5" id="star5"><label for="star5">★</label>
                            <input type="radio" name="rating" value="4" id="star4"><label for="star4">★</label>
                            <input type="radio" name="rating" value="3" id="star3"><label for="star3">★</label>
                            <input type="radio" name="rating" value="2" id="star2"><label for="star2">★</label>
                            <input type="radio" name="rating" value="1" id="star1"><label for="star1">★</label>
                        </div>

                    </div>
                    
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Comment *</label>
                    <textarea name="comment" id="" rows="4" class="form-control" placeholder="Write Your Review......"></textarea>
                </div>

                <div class="text-center">
                    <button class="btn btn-success px-5">Submit Review</button>
                </div>

            </form>
        </div>
    </section>
    
    <footer class="bg-success">

        <div class="footer">

            <div id="footer">

                <div class="epilogue">
                    <h4 class="footer-title"> <i class="fa-solid fa-truck-moving"></i> <span class="footer-heading"> ABC Logistics </span> </h4>
                    <p class="footer-text">
                        Reliable logistics and cargo shipping services. We deliver packages safely and on time across the country.
                    </p>

                </div>

                <div class="links">
                    <h5 class="footer-heading">Quick Links</h5>
                    <ul class="footer-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/track">Track Shipment</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>

                </div>

                <div class="last-services">
                    <h5 class="footer-heading">Our Services</h5>
                    <ul class="footer-links">
                        <li>Cargo Shipping</li>
                        <li>Freight Transport</li>
                        <li>Warehousing</li>
                        <li>Express Delivery</li>
                    </ul>

                </div>

                <div class="contact">
                    <h5 class="footer-heading">Contacts</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Port Harcourt, Nigeria</p>
                    <p><i class="fas fa-phone"></i> +234 9064167533</p>
                    <p><i class="fas fa-envelope"></i> info@abclogistics.com</p>

                </div>

            </div>

            <hr>

            <div class="footer-social text-center">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>

            <div class="footer-bottom text-center">
                <p> &copy; 2026 ABC Logistics. All rights reserved.</p>
            </div>

        </div>

    </footer>

        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>